#TeacherPermission {
    width: 80%;
    text-align: center;
    margin: 0 auto;

    .teapre-header {
        width: 100%;

        .header-title {
            font-size: 24px;
            margin: 24px;
        }
    }

    .teapre-body {
        width: 80vw;
        overflow: hidden;
        margin: 36px 0;
    }

    .teapre-footer {
        width: 100%;
        display: flex;
        justify-content: center;

        button {
            margin: 0 30px !important;
        }
    }
}

.ant-row,
.ant-form-item {
    width: 100vw !important;
}