#Specialty {
    .specialty-header {
        font-size: 30px;
        font-weight: 600;
        margin: 10px 50px;
    }

    .specialty-body {
        width: 60%;
        margin: 0 auto;
        padding: 20px;
    }

    .body-list {
        margin: 50px 0;
    }

    .list-content {
        padding: 30px 50px;
        border-radius: 5%;
        background-color: #FAFAFA;
    }
    
    .list-title,
    .class-title{
        font-size: 20px;
        font-weight: 600;
        margin: 30px 50px;
    }

    .class-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .class-add {
        color: #1890FF;
        font-weight: 400;
        font-size: 16px;
        cursor: pointer;
    }

}